<div class="mainwindow small_content">
    <div class="content_window " id="reader">
        {{#if message}}
        <div class="flexorientation--spaceb">
            <h2>{{message.title}}</h2>
            <small>{{message.date}}</small>
        </div>       
        <hr>
        <input type="hidden" id="messagecontent" value="{{message.content}}">
            
        <div id="message" class="reader">

        </div>        
        
        
        <small>Destinatário: {{message.section_receiver.name}} {{message.receiver.pg}} {{message.receiver.name}}</small>
        <div class="flexorientation--spaceb">
            <div>
                <label>Processo:</label>
                <a>{{message.process_title}}</a>
            </div>
            <form method="POST" action="/mensageiro/enviadas/{{message._id}}/delete">
                <button class="redbutton" style="margin-top: 0px; margin-left: 20px;"><img src="/img/trash.png" style="height: 16px;"></button>
                <label>Apagar</label>               
            </form>       
        </div>
        {{/if}}             
    </div>   
</div>
<script src="/js/messenger/messageEncoder.js"></script>