<div class="mainwindow ">
    <div class="content_window">
        {{#if errors}}
        {{#each errors}}
        <div class="error_message"><p>{{text}}</p></div>
        <br>
        {{/each}}        
        {{else}}
        {{/if}}
        <div>
            <h2>{{process.title}}</h2>                        
        </div>
        <hr>        
         <form id="formedit">
            <div>
                <label>Nome:</label>
                <input type="text" class="mediumtext" name="object" value="{{process.title}}" required>                
            </div>
            <div>
                <label>Nup:</label>
                <input type="text" class="mediumtext" name="nup" value="{{process.nup}}" required>
            </div>
            <div id="origindiv">
                <label>Origem:</label>                
            </div>
            <div>
                <label>Forma de Aquisição:</label>                
                <select name="category">
                    <option value="{{process.category}}">{{process.category}}</option>
                    <option value="Licitação">Licitação</option>
                    <option value="Dispensa">Dispensa</option>
                    <option value="Inexigibilidade">Inexigibilidade</option>
                </select>                
            </div>
            <div class="flexorientation--start">
                <label>Descrição:</label>
                <textarea class="param_text_description" name="description">{{process.description}}</textarea>                
            </div>
            <input id="submitedit" type="submit" value="Editar" class="button">
        </form>              
        <div id="list" class="list">           
        </div>        
    </div>
</div>
<script type="module" src="/js/document_reader/editProcess.js"></script>