<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css"> 
    <link rel="stylesheet" href="/css/textEditor.css">    
    <link href="/img/fav.ico" rel="shortcut icon" type="image/vnd.microsoft.icon">
    
    <title>Licitações</title>    
</head>
<body>    
{{#if serverError}}
{{{body}}}
{{else}}
    {{>_navbar}}   
    {{#if user}}    
        <div class="lateral_bar">
            <div class="flexorientation--start">
                {{>_leftbar}}                           
                <div class="bodyorientation">               
                    {{{body}}}                                   
                </div>
            </div>            
        </div>        
    {{else}}
    <div class="flexorientation--start">
        <div class="bodyorientation">
            <div class="logwindow">
                <div class="content_window">
                    {{#if errors}}
                    {{#each errors}}
                    <div class="error_message">
                        <p>{{text}}</p>
                    </div>
                    {{/each}}        
                    {{else}}
                    {{/if}}
                    <h2>Login</h2>
                    <hr>
                    <form action="/" method="POST">
                        <div>
                            <label>Nome: </label>
                            <input type="text" name="name" id="name">
                        </div>
                        <div>
                            <label>Senha: </label>
                            <input type="password" name="password" id="password">
                        </div>            
                        <input type="submit" value="Login" class="button">
                    </form>
                </div>
            </div>
        </div>        
    {{/if}}
    </div>   
</body>
{{/if}}
</html>